<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>

<body class='<%= controller.controller_name %>'>

<div id="banner">
    <%= image_tag("logo.png") %>
	<%= @page_title || t('.title') %>
</div>

<div id="columns">
	
		<% if @cart %>
		<div id="cart">
			<%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
         <%= render @cart %>
              <% end %>
		     <% end %>
		
		<ul>
			<li><a href="http://localhost:3000"<%= t('.home') %></a></li>
			<li><a href="http://localhost:3000/users"><%= t('.questions') %></a></li>
			<li><a href="http://localhost:3000/products"><%= t('.news') %></a></li>
 			<li><a href="http://localhost:3000"><%= t('.contact') %></a></li>
		</ul>
		<% if session[:user_id] %>
<ul>
<li><%= link_to 'Orders', orders_path %></li>
<li><%= link_to 'Products', products_path %></li>
<li><%= link_to 'Users', users_path %></li>
report erratum • discuss
Iteration I4: Adding a Sidebar, More Administration • 203
</ul>
<%= button_to 'Logout', logout_path, method: :delete %>
<% end %>

	</div>
	
	<div id="main">
		<%= yield %>
	</div>
</div>

</body>
</html>
